/* home page */

.home-wrapper {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0ead6;
    font-family: "Noto Serif", serif;
}

body {
    background-color: #f0ead6;
}
/* h1/h2 styling for home page */ 

.home-wrapper h1 {
    text-align: center;
    font-size: x-large;
    color: #2E4C6D;
}

.home-wrapper h2 {
    text-align: left;
    text-decoration: none;
    font-size: smaller;
    color: #2E4C6D
}

.home-wrapper h2 a {
    text-decoration: none;
    color: black;
}

/* navbar */

nav li {
    list-style-type: none;
    background-color: #f0ead6;
    margin: 1rem;
   
}

nav a {
    text-decoration: none;
    color: #3D5147;
    padding: 25px;
}

nav a:hover {
    color: #2E4C6D;
    background-color: #f0ead6;
    border: 3px #2E4C6D solid;
    margin: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #f0ead6;
    flex-wrap: wrap;
}

/* styling of my homepage's main section */

.home-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "image textr"
    ;
}
 
.home-image {
    grid-area: image;
}

.home-text {
    grid-area: textr;
}

.home-image img {
    width: 50%;
    height: auto;
    display: block;
    border: 5px solid #3D5147;
    box-sizing: border-box;
    margin-left: 200px;
}

.home-text {
    font-family: "Noto Serif", serif;
    font-size: x-large;
    font-weight: 500;
    background-color: #f0f4f8;
    padding: 20px;
    border: 2px solid #2E4C6D;
    box-sizing: border-box;
    color: #2E4C6D;
    margin-right: 50px;
}

.home-content-wrapper figcaption {
    margin-left: 238px;
    color:#2E4C6D; 
    font-size: smaller;
}
/* journalism clips page styling */

.clips-wrapper {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0ead6;
    font-family: "Noto Serif", serif;
}

.clips-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "onepart1 onepart2 twopart1 twopart2"
    ;
}

.clips-content-wrapper img {
    width: 75%;
    height: auto;
    display: inline;
    border: 5px solid #3D5147;
    box-sizing: border-box;
}

.clips-wrapper h1 {
    font-size: x-large;
    color: #2E4C6D
}

.clips-content-wrapper a {
    text-decoration: none;
    color: #3D5147;
}

.clips-content-wrapper a:hover {
    color: #2E4C6D;
    background-color: #f0ead6;
}

.clips-content-wrapper figcaption {
    text-align: justify;
    font-weight: bold;
    margin-left: 35px;
}

.clips-content-wrapper figcaption p {
    text-align: justify;
    font-size: smaller;
}

.clips-wrapper header h2 {
    text-align: left;
    text-decoration: none;
    font-size: smaller;
    color: #2E4C6D
}

.clips-wrapper header h2 a {
    text-decoration: none;
    color: black;
}

/* resume styling */

.resume-wrapper {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0ead6;
    font-family: "Noto Serif", serif;
    color: #2E4C6D;
}

.resume-wrapper header h2 {
    text-align: left;
    text-decoration: none;
    font-size: smaller;
    color: #2E4C6D
}

.resume-wrapper header h2 a {
    text-decoration: none;
    color: black;
}

.resume-wrapper hr {
    background-color:  #3D5147;
    height: 5px;
    border: none;
}

.resume-wrapper h1 {
    text-align: center;
}

.resume-wrapper address {
    font-style: normal;
}

.resume-wrapper address a {
    text-decoration: none;
    color: #3D5147;
}

.resume-wrapper address a:hover {
    color: #2E4C6D;
    background-color: #f0ead6;
}

.resume-wrapper a {
    text-decoration: none;
    color: #3D5147;
}

.resume-wrapper a:hover {
    color: #2E4C6D;
    background-color: #f0ead6;
}

/* academic writing sample styling */

.samples-wrapper {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0ead6;
    font-family: "Noto Serif", serif;
    color: #2E4C6D;
}

.samples-wrapper header h2 {
    text-align: left;
    text-decoration: none;
    font-size: smaller;
    color: #2E4C6D
}

.samples-wrapper header h2 a {
    text-decoration: none;
    color: black;
}

.samples-astoldto {
    font-family: "Noto Serif", serif;
    font-size: medium;
    font-weight: 500;
    background-color: #f0f4f8;
    padding: 20px;
    border: 2px solid #2E4C6D;
    box-sizing: border-box;
    color: #2E4C6D;
    gap: 20px;
}

.samples-philosophy {
    font-family: "Noto Serif", serif;
    font-size: medium;
    font-weight: 500;
    background-color: #f0f4f8;
    padding: 20px;
    border: 2px solid #2E4C6D;
    box-sizing: border-box;
    color: #2E4C6D;
    gap: 20px;
}

.samples-vietnam {
    font-family: "Noto Serif", serif;
    font-size: medium;
    font-weight: 500;
    background-color: #f0f4f8;
    padding: 20px;
    border: 2px solid #2E4C6D;
    box-sizing: border-box;
    color: #2E4C6D;
    gap: 20px;
}

.samples-astoldto a {
    text-decoration: none;
    color: #3D5147;
}

.samples-astoldto a:hover {
    color: #2E4C6D;
}

.samples-philosophy a {
    text-decoration: none;
    color: #3D5147;
}

.samples-philosophy a:hover {
    color: #2E4C6D;
}

.samples-vietnam a {
    text-decoration: none;
    color: #3D5147;
}

.samples-vietnam a:hover {
    color: #2E4C6D;
}

/* eng391c exercise page styling */

.exercises-wrapper {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0ead6;
    font-family: "Noto Serif", serif;
    color: #2E4C6D;
}

.exercises-wrapper header h2 {
    text-align: left;
    text-decoration: none;
    font-size: smaller;
    color: #2E4C6D;
}

.exercises-wrapper header h2 a {
   text-decoration: none;
   color: black;
}

.exercises-wrapper a {
    text-decoration: none;
    color: #3D5147;
}

.exercises-wrapper a:hover {
    color: #2E4C6D;
}

.exercises-listr {
    text-align: center;
    color: #2E4C6D;
}

.exercises-listr ul {
    list-style-type: none;
}
